body {
  /*background: url('https://images8.alphacoders.com/428/thumb-1920-428103.jpg');*/
  background: url('https://cdn.wallpapersafari.com/84/35/8uIWXe.png');
  
    background-position: center;
    
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
  }


  